
<h2>Animals List</h2>
<ul>
  <% animals.forEach(animal => { %>
    <li>
      <strong><%= animal.name %></strong> (<%= animal.species %>) - <%= animal.age %> years old
      <p><%= animal.description %></p>
      <a href="/edit/<%= animal.id %>">Edit</a> | 
      <a href="/delete/<%= animal.id %>">Delete</a>
    </li>
  <% }) %>
</ul>
<a href="/add">Add New Animal</a>
